/*
Admin css
*/

.button_reset_email_template_single {
    float: right;
    background: #de6969;
    color: #f5f5f5;
    padding: 0 20px;
    cursor: pointer;
}

.button_reset_email_template_all {
	background: #de6969;
    color: #f5f5f5;
    padding: 2px 20px;
    cursor: pointer;
    display: initial;
}


.header.reseting {
	background:#ffc3c3 !important;
}